@import "../public/themes/nighthawk.css";
@import "../public/themes/obsidian.css";
@import "../public/themes/onyx.css";
@import "../public/themes/slate.css";
@import "../public/themes/frost.css";
@import "../public/themes/sandstone.css";
@import "../public/themes/dark.css";
@import "../public/themes/light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --loader: rgb(245 158 11 / 1) !important;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --loader: rgb(245 158 11 / 100%) !important;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground scrollbar-thumb-accent scrollbar-track-red-500;
    }
}

/*:root {*/
/*    --background: 0 0% 100% !important;*/
/*    --foreground: 0 0% 9% !important;*/
/*}*/

body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    font-synthesis: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: hsl(var(--accent))
}

::selection {
    color: black;
    background: hsl(var(--accent))
}

.rainbow-bg {
    animation: rainbow-bg 10s linear infinite !important;
}

@keyframes rainbow-bg {
    0% {
        background-color: red !important;
    }
    14% {
        background-color: orange !important;
    }
    28% {
        background-color: yellow !important;
    }
    42% {
        background-color: green !important;
    }
    57% {
        background-color: blue !important;
    }
    71% {
        background-color: indigo !important;
    }
    85% {
        background-color: violet !important;
    }
    100% {
        background-color: red !important;
    }
}
