.slate {
    --background: 220, 3%, 19% !important;
    --accent: 56, 73%, 74% !important;
    --main: 51 32% 54% !important;
    --secondary: 215 20.2% 65.1% !important;
    --secondary-bg: 236, 21%, 28% !important;

    :root {
        --background: 220, 3%, 19% !important;
        --accent: 56, 73%, 74% !important;
        --main: 51 32% 54% !important;
        --secondary: 215 20.2% 65.1% !important;
        --secondary-bg: 236, 21%, 28% !important;
    }
}
