.theme-4 {
    --background: 236 82% 6% !important;
    --accent: 50 26% 47%  !important;
    --main: 353 100% 38% !important;
    --secondary: 0 18% 90% !important;
    --secondary-bg: 219 29% 19% !important;
}
