.theme-3 {
    --background: 0 0% 6% !important;
    --accent: 172 100% 25% !important;
    --main: 353 100% 38% !important;
    --secondary: 215 20.2% 65.1% !important;
    --secondary-bg: 219 29% 19% !important;
}
