.theme-2 {
    --background: 30 5% 15% !important;
    --accent: 22 100% 51% !important;
    --main: 353 100% 38% !important;
    --secondary: 215 20.2% 65.1% !important;
    --secondary-bg: 224 24% 33% !important;

    :root {
        --background: 30 5% 15% !important;
        --accent: 22 100% 51% !important;
        --main: 353 100% 38% !important;
        --secondary: 215 20.2% 65.1% !important;
        --secondary-bg: 224 24% 33% !important;
    }
}
