.theme-4 {
    --background: 195 81% 23% !important;
    --accent: 50 26% 47%  !important;
    --main: 236 82% 6% !important;
    --secondary: 0 18% 90% !important;
    --secondary-bg: 160 0% 22% !important;
}
